/* * is universal selector for everything on your page, it applies all block rules to everything inside it*/
*,
*::after,
*::before {
  /*we set this to border-box in body, so then here we ensure every el inherits that unless we specify otherwise*/ }

html {
  font-size: 62.5%;
  /* 1 rem = exactly 10px. Very useful for scaling everything else on page in rem*/
  /*important step2: users often set their own font size, so writing 10px as default font-size is bad practice, so we use percentages
  default font-size is 16px, so 100% would be 16px
  so we want 10px, default is 16, we divide 10 by the 16, and our percentage is 62.5%*/ }

body {
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  /* everything related we specify in body, not in universal selector
    font props here, usually fonts just inherit everything, so we specify 
    -font family followed by option 1, comma, then option B if A is unavailable
    - lineheight 1.0 is just default line height anything else, ie 1.7 is 70% more than default*/
  /*font-size: 1.6rem;*/
  /*font-family: "Century Gothic", "Lato", sans-serif;*/
  margin: 0 0;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif; }

h1 {
  color: white;
  padding: 5vh; }

a {
  text-decoration: none;
  color: white;
  font-weight: 600; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

html,
body {
  font-family: 'Proxima Nova', 'Roboto', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: 16px; }

a {
  color: #757575; }
  a:hover {
    color: #272727; }

header {
  height: 60px;
  width: 100%;
  position: fixed; }

.header_nav {
  height: 100%;
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  border: 1px dotted black; }

.header_nav_child {
  display: flex;
  align-items: center;
  align-content: center;
  flex: 1;
  height: 100%;
  width: 100%; }

.header_nav_child_left {
  background-color: #ffffe9;
  justify-content: flex-start; }

.header_nav_child_right {
  background-color: #e9ffea;
  justify-content: flex-end; }

.header_nav_child_item {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex: 1; }
