/*
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations"; // thats cool, importing partial sass files dont need complete path, just this
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/card";
@import "components/composition";
@import "components/feature-box";
@import "components/nav-tabs";
@import "components/nav";

@import "layouts/grid";
@import "layouts/header";

@import "pages/home";
*/
body {
  /*font-family: "Century Gothic", "Lato", sans-serif;*/
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  margin: 0;
  height: 100%;
  overflow: hidden; }

a {
  text-decoration: none; }

.primary-nav-tabs,
.app-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: white;
  text-align: center;
  padding: 0 2em; }
  .primary-nav-tabs h1,
  .app-screen h1 {
    font-size: 1rem;
    margin: 0;
    letter-spacing: 1rem; }
  .primary-nav-tabs h3,
  .app-screen h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6; }

.primary-nav-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 60%;
  height: 3.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: #fff; }

.primary-nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.5rem; }

.primary-nav-tab:hover {
  color: white;
  background-position: right center;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
  transform: scale(1.05);
  /* border: rgba(0, 0, 0, 0);*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.primary-nav-tab-slider {
  position: absolute;
  bottom: 0;
  width: 50;
  height: 6px;
  background: #66b1f1;
  transition: left 0.3s ease; }

@media (min-width: 800px) {
  .primary-nav-tabs h1,
  .app-screen h1 {
    font-size: 1rem; }
  .primary-nav-tabs h3,
  .app-screen h3 {
    font-size: 1rem; }
  .primary-nav-tab {
    font-size: 1rem; } }

/* Style the tab */
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;
    //background-color: #f1f1f1;*/ }

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  text-transform: uppercase;
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  width: 23%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px; }

/* Change background color of buttons on hover */
.tab:hover {
  background-position: right center;
  transition: 0.6s; }

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%); }

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); }

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%); }

.btn-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%); }

.tablinks:hover {
  background-position: right center;
  transform: scale(1.05);
  /* change the direction of the change here */ }

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc; }

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none; }

.header {
  background-color: purple;
  height: 10vh;
  width: 90vw; }
