:root {
  --white: #ffffff;
  --light: #f0eff3;
  --black: #000000;
  --dark-blue: #1f2029;
  --dark-light: #353746;
  --red: #da2c4d;
  --yellow: #f8ab37;
  --grey: #ecedf3; }

:root {
  --white: #ffffff;
  --light: #f0eff3;
  --black: #000000;
  --dark-blue: #1f2029;
  --dark-light: #353746;
  --red: #da2c4d;
  --yellow: #f8ab37;
  --grey: #ecedf3; }

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #ef603d 0%, #f77d2a 33%, #fda849 66%, #ffe7a1 100%); }

body {
  /* everything related we specify in body, not in universal selector
    font props here, usually fonts just inherit everything, so we specify 
    -font family followed by option 1, comma, then option B if A is unavailable
    - lineheight 1.0 is just default line height anything else, ie 1.7 is 70% more than default*/
  /*font-size: 1.6rem;*/
  /*font-family: "Century Gothic", "Lato", sans-serif;*/
  margin: 0 0;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif; }

h1 {
  color: white;
  padding: 5vh; }

a {
  text-decoration: none;
  color: white;
  font-weight: 600; }
