@import 'abstracts/variables';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';
html,
body {
    font-family: 'Proxima Nova', 'Roboto', sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-size: 16px;
}

a {
    color: rgb(117, 117, 117);
    &:hover {
        color: rgb(39, 39, 39);
    }
}

header {
    height: 60px;
    width: 100%;
    // border-top: 1px solid white;
    position: fixed;
    // background-color: white;
}

// header parent
.header_nav {
    height: 100%;
    width: 100%;
    box-shadow: $shadow-light;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px dotted black;
}

// left and right
.header_nav_child {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.header_nav_child_left {
    // background-color: rgb(255, 255, 233);
    margin-left: 60px;
    justify-content: flex-start;
}

.header_nav_child_right {
    margin-right: 60px;
    // background-color: rgb(233, 255, 234);
    justify-content: flex-end;
    // border: 1px solid purple;
}

.header_nav_child_item {
    height: 100%;
    width: 100%;
    // border: 1px solid rgb(178, 255, 116);
    // border: 1px dotted rgb(155, 155, 155);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    // flex: 1;
}

.header_nav_child_item_logo_container {
    width: 60px;
}

.header_nav_child_item_logo {
    height: 30px;
    width: 30px;
    cursor: pointer;
}