html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    // background-image: $wildfire-button-color-gradient-2;
}

body {
    /* everything related we specify in body, not in universal selector
    font props here, usually fonts just inherit everything, so we specify 
    -font family followed by option 1, comma, then option B if A is unavailable
    - lineheight 1.0 is just default line height anything else, ie 1.7 is 70% more than default*/
    // font-family: 'Nunito', sans-serif;
    // font-family: 'Segoe UI', sans-serif;
    // font-family: 'Segoe UI', sans-serif;
    // font-weight: 400;
    /*font-size: 1.6rem;*/
    // line-height: 1.7;
    // color: $color-gray-dark;
    // padding: 3rem;
    /*font-family: "Century Gothic", "Lato", sans-serif;*/
    // font-family: 'Nunito', sans-serif;
    // font-weight: 400;
    // line-height: 1.6;
    // color: #000000;
    margin: 0 0;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    // font-family: 'Segoe UI', sans-serif;
}

// h1 {
//     color: white;
//     padding: 5vh;
// }
// remove all underline, etc, from anchor tags, so links aren't underlined
a {
    text-decoration: none;
    color: white;
    // font-weight: 600;
}